/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin:16px 15px;
    font-family: 'Aleo',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,input {
    font-family:'Josefin Sans', sans-serif;
}

.container {
    max-width: 1113px;
    width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}
.main-header {
    background: #5474FD;
    position: absolute;
    top: 733px;
    width: 98.4%;
}
.main-header__links {
    display: flex;
    align-items: center;
}
.main-header__logo {
    margin-right: 410px;
    padding: 30px 0px;
}

.main-header__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 24px;
}
.first-section {
    background: #000 center/cover url("../assets/hero.png") no-repeat;
}
.first-section__warp {
    padding-top: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.first-section__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.first-section__destinacion {
    padding:17px 111px;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
    border:none;
}
.first-section__form {
    display: flex;
    align-items: center;
    padding-bottom: 108px;
}
.first-section__btn {  
    font-family: 'Aleo';
    padding: 15px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5474FD;
    border: 2px solid #FFFFFF;
}

.first-section__warp h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.first-section__scroll {
    padding-bottom: 224px;
}
.second-section {
    background: #000 center/cover url("../assets/rectangle.png") no-repeat;
}
.second-section__wrap {
    padding-top: 118px;
    display: flex;
    padding-bottom: 117px;
}
.second-section h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 72%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.second-section__left {
    padding-top: 94px;
}

.second-section h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    margin-right: 110px;
    margin-bottom: 43px;
}
.secont-section__btn {
    border: none;
}

.second-section__firstpic {
    margin-bottom: 10px;
}
.second-section__secondpic {
    padding-left: 90px;
  
}