/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin:16px 15px;
    font-family: 'Aleo',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,input {
    font-family:'Josefin Sans', sans-serif;
}

.container {
    max-width: 1113px;
    width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}
.first-section__btn:hover {
    scale: 110%;
    transition: 0.3s ease-in-out;
}
.main-header {
    background: #5474FD;
    position: absolute;
    top: 733px;
    width: 97.9%;
}
.main-header__links {
    display: flex;
    align-items: center;
}
.main-header__logo {
    margin-right: 410px;
    padding: 30px 0px;
}

.main-header__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 24px;
}
.first-section {
    background: #000 center/cover url("../assets/hero.png") no-repeat;
}
.first-section__warp {
    padding-top: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.first-section__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.first-section__destinacion {
    padding:17px 111px;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
    border:none;
    width: 500px;
}
.foto {
    margin-left: 10px;
}
.first-section__form {
    display: flex;
    align-items: center;
    padding-bottom: 108px;
}
.first-section__btn {  
    padding: 15px 20px 15px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5474FD;
    border: 2px solid #FFFFFF;
}

.first-section__warp h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.first-section__scroll {
    padding-bottom: 224px;
}
.second-section {
    background: #000 center/cover url("../assets/rectangle.png") no-repeat;
}
.second-section__wrap {
    padding-top: 118px;
    display: flex;
    padding-bottom: 117px;
}
.second-section h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 72%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.second-section__left {
    padding-top: 94px;
}

.second-section h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    margin-right: 100px;
    margin-bottom: 43px;
}
.secont-section__btn {
    border: none;
}

.second-section__firstpic {
    margin-bottom: 10px;
    margin-left: -20px;
}
.second-section__secondpic {
    padding-left: 55px;
  
}
.third-section {
    background: #333333;
    position: relative;
}
.fafa{
   float: left;
}
.third-section {
    background-color: #333333;
    padding: 100px 0;
    position: relative;
}
.third-section__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.third-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-section__content .third-section__lines {
    position: absolute;
    top:35px;
    left: 23%;
  }
.item__icon {
    margin-bottom: 20px;
    background-color:#333333;
    border:1px solid #333333;
    height:100px;
    width: 100px;
    border-radius:50%;
    z-index: 1;
}
.item__icon img {
    margin-left: 20px;
    margin-top: 10px;
}
.item_name {
    font-family: 'Aleo', serif;
    font-size: 36px;
    color: #E8E8E8;
}

.fourth-section {
    background: #000 center/cover url("../assets/rectangle2.png") no-repeat;
    padding: 230px 0 100px;
}
.doublequote {
    float: left;
	position: relative;
    padding-right: 10px;
	font-size: 30px;
	color: #5474fd;	
}
.fourth-section__wrap {
    width: 45%;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding-top: 49px;
    padding-left: 32px;
    padding-bottom: 50px;
    padding-right: 10px;
}

.flex-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin-bottom: 23px;
}
.flex-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.flex-secondtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    display: flex;
    align-items: center;
    color: #E8E8E8;
    margin-bottom: 46px;
}

.fifth-section {
    background: url(../assets/rectangle3.png) 50% / cover no-repeat;
    padding: 230px 0 100px ;
}

.container-flex {
    display: flex;
    justify-content: end;

}


.fifth-section__wrap {
    width: 45%;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding-top: 49px;
    padding-left: 32px;
    padding-bottom: 50px;
    padding-left: 10px;
    
}

.article-section {
    background: url(../assets/rectangle4.png) 50% / cover no-repeat;
}


.article-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-section__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 72%;
    margin-top: 128px;
    color: #FFFFFF;
    margin-bottom: 91px;
}
.article-section__wrap{
   display: flex;
   align-items: center;
   padding-bottom: 200px;
}
.article-section__article {
    width: 65%;
    background: #333333;
    padding: 40px
}

.article-section__article h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FEFEFE;
    margin-bottom: 8px;
}
.article-section__article p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    display: flex;
    align-items: center;
    color: #E8E8E8;
} 

.article-section__article p::before {
    
}

footer {
	background-color: #232323;
	text-align: center;
	padding: 120px 0 50px;
    align-items: center;
}

.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__tittle {
	font-weight: 700;
    font-size: 24px;
    line-height: 108%;
    display: flex;
    align-items: center;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.footer__text {
	font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FFFFFF;
}

.footer__icons {
	margin-top: 25px;
}
.footer__icons a{
    margin-left: 10px;
}


@media (max-width:767px) {
.first-section__warp{
    padding-top: 100px;
    
}
.first-section__scroll {
    padding-bottom: 100px;
}
  .first-section__destinacion{
    width: 50%;
    margin-left: 20px;
    line-height: 100%;
  }
  .main-header__link{
    display: none;
  }
  
.first-section__title {
    font-size:30px;
}
.first-section__text {
    font-size: 15px;
}
.first-section__btn{
    line-height: 100%;
    margin-right: 10px;
    padding: 10px;
    
}
.second-section__firstpic {
    margin-left: 0px;
}
.second-section__wrap {
    flex-direction: column;
}
.second-section__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section__left h6 {
    margin-right: 10px;
    margin-left: 10px;
}
.second-section__left button {
    margin-bottom: 20px;
}
.second-section__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section__secondpic {
    padding-left: 10px;
    margin-right: 10px;
}
.third-section__lines {
    display: none;
}
.third-section ,.fourth-section,.fifth-section {
   padding: 20px;
}
.second-section__wrap {
    padding-top: 0px;
    display: flex;
    padding-bottom: 30px;
}
.item_name{
    font-size: 15px;
}
.fourth-section__wrap{
    width: 100%;
}
.fourth-section {
    display: flex;
}
.article-section__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 72%;
    margin-top: 50px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.article-section__image {
    display: none;
}
    .article-section__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-header {
    display: none;
  }
.article-section__wrap{
    padding-bottom: 0px;
}
.fifth-section__wrap, .fourth-section__wrap{
    width: 100%;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding-top: 49px;
    padding-left: 32px;
    padding-bottom: 50px;
    padding-right: 32px;
}
.fourth-section {
    padding: 20px;
}
}

@media (min-width:768px) and (max-width:1024px) {
    .third-section__lines {
        display: none;

    }
    .article-section__article {
        padding: 10px;
    }
    .fifth-section__wrap {
        margin-right: 20px;
        padding-right: 20px;   
    }
    .fourth-section__wrap {
        margin-left: 20px;
        padding-left: 20px;
    }
    .fourth-section {
        padding: 150px 0 100px;
    }
    .fifth-section {
        padding: 150px 0 100px;
    }
    .article-section__article {
        padding: 0px;
        margin-right: 20px;
    }
    .article-section__image {
        margin-left: 20px;
    }
    .second-section__secondpic {
        padding-left: 0px;
    }
    .second-section__left {
        margin-left: 20px;
    }
    .second-section__right {
        margin-right: 20px;
    }
    .second-section__firstpic {
        margin-left: -20px;
    }
    .second-section__wrap {
        padding-top: 50px;
        display: flex;
        padding-bottom: 50px;
    }
    .third-section {
        padding: 50px 0;
    }
    .article-section__title {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .main-header__logo {
        margin-right: 100px;
        
    }
    
}